header {
    padding: 10px 20px;
    background-color: #AE182E ;
}

.titulo {
    font-size: 40px;
    /*line-height: 60px;*/
    font-weight: bold;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    float: none;
}

.login{
    padding-top: 5%;
    height: 100%;
}

html, body { height: 100%;}

.contenido{
    padding-bottom:3%;
    height: 100%;
}

.cab{
    margin-bottom: 5%;
}

#s {
	width: 40%;
}




