header {
    padding: 10px 20px;
    background-color: #AE182E ;
}

.titulo {
    font-size: 40px;
    /*line-height: 60px;*/
    font-weight: bold;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    float: none;
}

.login{
    padding-top: 5%;
    height: 100%;
}

html, body { height: 100%;}

.contenido{
    padding-bottom:3%; 
    
}
ul.pagination2{
    display:block;
    margin-left:-0.3125rem;
    min-height:1.5rem}

ul.pagination2 li{
    color:#222;
    font-size:1.25rem;
    height:1.5rem;
    margin-left:0.3125rem
    }

ul.pagination2 li a,ul.pagination2 li button{
    border-radius:3px;
    transition:background-color 300ms ease-out;
    background:none;
    color:#999;
    display:block;
    font-size:1.5em;
    font-weight:normal;
    line-height:inherit;
    padding:0.0625rem 0.625rem 0.0625rem
}

ul.pagination2 li:hover a,ul.pagination2 li a:focus,ul.pagination2 li:hover button,ul.pagination2 li button:focus{background:#e6e6e6}

ul.pagination2 li.unavailable a,ul.pagination2 li.unavailable button{cursor:default;color:#999}ul.pagination2 li.unavailable:hover a,ul.pagination2 li.unavailable a:focus,ul.pagination2 li.unavailable:hover button,ul.pagination2 li.unavailable button:focus{background:transparent}

ul.pagination2 li.current a,ul.pagination2 li.current button{background:#008CBA;color:#fff;cursor:default;font-weight:bold}

ul.pagination2 li.current a:hover,ul.pagination2 li.current a:focus,ul.pagination2 li.current button:hover,ul.pagination2 li.current button:focus{background:#008CBA}

ul.pagination2 li{display:block;float:left}

.pagination2-centered{text-align:center}

.pagination2-centered ul.pagination2 li{display:inline-block;float:none}

ul.pagination2 li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination2 li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination2 .disabled:hover a {
    background: none;
}

.paginator2 {
    text-align: center;
}

.paginator2 ul.pagination2 li {
    float: none;
    display: inline-block;
}


.paginator2 {
    text-align: center;
}

.paginator2 ul.pagination2 li {
    float: none;
    display: inline-block;
}

.paginator2 p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

//cuadricula de sesiones
.row{ margin:20px 20px 20px 20px;width: 100%;}
.post-box {width: 30%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.post-content {padding: 0;}
.post-content {display: block;padding: 4px;margin-bottom: 20px;line-height: 1.42857143;background-color: #fff;border: 1px solid #ddd;border-radius: 4px;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
.post-content .caption {padding: 9px;color: #333;}
.post-content .caption p{font-size: 14px;}
.post-content h4 {font-size: 18px;margin-top: 10px;margin-bottom: 10px;}
.post-content a {color: #428bca;text-decoration: none;background: transparent;}
.post-content p {margin: 0 0 10px;}
.no-record{font-size: 16px;font-weight: bold;color: #DD4B39;padding: 10px}

//cuadricula 2
.container-fluid {

}